services:
  api:
    container_name: weather-test-project-api
    build: .
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=1000
      - WATCHPACK_POLLING=true
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run start:dev
